[submodule "lib/zenburn"]
	path = lib/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "lib/magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "lib/dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "lib/with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "lib/volatile-highlights"]
	path = lib/volatile-highlights
	url = https://github.com/k-talo/volatile-highlights.el.git
[submodule "lib/multi-term"]
	path = lib/multi-term
	url = https://github.com/emacsmirror/multi-term.git
[submodule "lib/undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "lib/haskell-mode"]
	path = lib/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "lib/anzu"]
	path = lib/anzu
	url = https://github.com/syohex/emacs-anzu.git
[submodule "lib/notmuch"]
	path = lib/notmuch
	url = git://git.notmuchmail.org/git/notmuch
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lib/helm-gtags"]
	path = lib/helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule "lib/mmm-mode"]
	path = lib/mmm-mode
	url = https://github.com/purcell/mmm-mode.git
[submodule "lib/s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "lib/pinentry"]
	path = lib/pinentry
	url = git@github.com:10ne1/pinentry.git
[submodule "lib/libgpg-error"]
	path = lib/libgpg-error
	url = git@github.com:10ne1/libgpg-error.git
[submodule "lib/libassuan"]
	path = lib/libassuan
	url = git@github.com:10ne1/libassuan.git
[submodule "lib/geiser"]
	path = lib/geiser
	url = git://git.sv.gnu.org/geiser.git
[submodule "lib/rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "lib/bb-mode"]
	path = lib/bb-mode
	url = https://github.com/mferland/bb-mode.git
[submodule "lib/disable-mouse"]
	path = lib/disable-mouse
	url = https://github.com/purcell/disable-mouse.git
[submodule "lib/emacs-winum"]
	path = lib/emacs-winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "lib/emacs-noflet"]
	path = lib/emacs-noflet
	url = https://github.com/nicferrier/emacs-noflet.git
[submodule "lib/groovy-emacs-mode"]
	path = lib/groovy-emacs-mode
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "lib/emacs-async"]
	path = lib/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "lib/atomic-chrome"]
	path = lib/atomic-chrome
	url = https://github.com/alpha22jp/atomic-chrome.git
[submodule "lib/emacs-websocket"]
	path = lib/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
