[submodule "lib/zenburn"]
	path = lib/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "lib/magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "lib/dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "lib/with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "lib/volatile-highlights"]
	path = lib/volatile-highlights
	url = https://github.com/k-talo/volatile-highlights.el.git
[submodule "lib/multi-term"]
	path = lib/multi-term
	url = https://github.com/emacsmirror/multi-term.git
[submodule "lib/undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "lib/haskell-mode"]
	path = lib/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "lib/pinentry"]
	path = lib/pinentry
	url = https://github.com/ueno/pinentry-el.git
[submodule "lib/anzu"]
	path = lib/anzu
	url = https://github.com/syohex/emacs-anzu.git
[submodule "lib/notmuch"]
	path = lib/notmuch
	url = git://git.notmuchmail.org/git/notmuch
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lib/helm-mt"]
	path = lib/helm-mt
	url = https://github.com/dfdeshom/helm-mt.git
[submodule "lib/helm-gtags"]
	path = lib/helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
