# copy file to /usr/lib/systemd/system/emacs@.service
# enable/disable with
# systemctl enable emacs@<username>
# systemctl start emacs@<username>

[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon --chdir /home/%i
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=no
User=%i

[Install]
WantedBy=multi-user.target
