Host mailstore-server
    HostName hetz1.adirat.com
    Port 22
    User adi

Host *.labs.overthewire.org
  SendEnv WECHALLTOKEN
  SendEnv WECHALLUSER

Host *
    StrictHostKeyChecking no
    KexAlgorithms +diffie-hellman-group1-sha1
    Compression no
